.hero-footer {
    padding: 1rem 1.5rem 1rem !important;
}

.hero-footer a {
    color: #fff;
}

a:hover, a:active {
    text-decoration: underline;
    color: #72dcff;
}

.hero.is-light a.navbar-item.is-active {
    background-color: transparent !important;
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
    color: hsl(0, 0%, 40%);
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
  color: hsl(0, 0%, 40%);
}

.input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
  color: hsl(0, 0%, 40%);
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
  color: hsl(0, 0%, 40%);
}

/*HEADER*/

header .navbar-nav {
    flex-direction: row;
}

header .navbar-nav .nav-item {
    margin-left: 15px;
}

/*FORM*/

form {
    margin-top: 25px;
    margin-bottom: 30px;
}
form input,
form select {
    height: 40px;
    margin-left: auto;
}

form label {
    min-width: 250px;
}

form input[type="date"] {
    width: 40%;
}

form div {
    display: flex;
}

form div span {
    line-height: 2.5;
}

form button[type="submit"] {
    margin-right: 15px;
}
